@font-face {
  font-family: "glacial";
  src: url("./glacial.woff") format("woff"),
    url("./glacial.woff2") format("woff2");
}

body {
  font-family: glacial, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#page-wrapper {
  display: grid;
  width: clamp(500px, 50%, 1000px);
  height: 100vh;
  margin: auto;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 100px 1fr 25px;
  grid-template-areas: "header header" "nav content" "footer footer";
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: red solid 1px;
  grid-area: header;
  background-color: rgb(231, 188, 188);
  box-shadow: 0x 1px 1px 1px rgb(109, 103, 103);
}

#left-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav {
  border: blue solid 1px;
  grid-area: nav;
  padding: 5px;
  background-color: rgb(217, 217, 238);
}

#nav > ul {
  padding: 0;
}

#content {
  border: orange solid 1px;
  grid-area: content;
  background-color: rgb(236, 225, 204);
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer;
  background-color: rgb(128, 125, 125);
}

.form {
  position: absolute;
  height: 500px;
  width: 500px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  left: 35%;
  pointer-events: none;
  border-radius: 20px;
  background-color: rgb(233, 240, 250);
  box-shadow: 3px 3px 10px rgb(204, 196, 196);
}

.form-toggle {
  opacity: 1;
  transition: 1s;
  pointer-events: all;
}

.display {
  padding: 5px;
}

.cover {
  border: rgb(113, 113, 221, 25%) solid;
  height: 175px;
  margin-bottom: 5px;
}

#coverLow {
  background-color: rgb(202, 255, 202, 45%);
}

#coverMedium {
  background-color: rgb(250, 250, 189, 45%);
}

#coverHigh {
  background-color: rgba(255, 54, 54, 45%);
}

#listItems {
  border: solid 1px;
  padding: 0;
  margin: 0;
}

#priorityDiv {
  display: flex;
  justify-content: start;
  align-items: center;
}

#nav-list > li > button {
  width: 100%;
  height: 40px;
  font-size: 14px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
