@font-face {
  font-family: "glacial";
  src: url("./glacial.woff") format("woff"),
    url("./glacial.woff2") format("woff2");
}

body {
  font-family: glacial, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#page-wrapper {
  display: grid;
  width: clamp(500px, 50%, 1000px);
  height: 100vh;
  margin: auto;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 100px 1fr 25px;
  grid-template-areas: "header header" "nav content" "footer footer";
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: red solid 1px;
  grid-area: header;
  background-color: rgb(231, 188, 188);
  box-shadow: 0x 1px 1px 1px rgb(109, 103, 103);
}

#left-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav {
  border: blue solid 1px;
  grid-area: nav;
  padding: 5px;
  background-color: rgb(217, 217, 238);
}

#nav > ul {
  padding: 0;
}

#content {
  border: orange solid 1px;
  grid-area: content;
  background-color: rgb(236, 225, 204);
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer;
  background-color: rgb(128, 125, 125);
}

.display {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -15px;
  margin-left: 10%;
  width: 80%;
}

.display > div {
  border-bottom: 1px solid rgb(121, 121, 121, 50%);
}

#buttonDiv,
#form-btns {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: none;
}

#buttonDiv > button,
#form-btns > button,
#checklist-elem-divider > button {
  width: 100px;
  height: 40px;
  font-size: 14px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

#checklist-elem-divider > button {
  height: 30px;
  width: 50px;
  margin-bottom: 0;
}

.cover {
  border-bottom: 1px solid rgb(121, 121, 121, 50%);
  height: 175px;
  padding-top: 15px;
}

.cover > div:first-child > h2 {
  margin: 0;
}

.cover > div {
  padding-left: 5%;
}

.cover > h2 {
  padding: 0;
  margin: 0;
}

.cover > div:first-child {
  padding-top: 0;
}

#coverLow {
  background-color: rgb(202, 255, 202, 45%);
}

#coverMedium {
  background-color: rgb(250, 250, 189, 45%);
}

#coverHigh {
  background-color: rgba(255, 54, 54, 45%);
}

#listItems {
  padding: 0;
  margin: 0;
}

#nav-list > li > button {
  width: 100%;
  height: 40px;
  font-size: 14px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

form {
  padding: 10px;
  margin-left: 5%;
  width: 85%;
}

form > div {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(121, 121, 121, 50%);
}

form > div > label {
  margin-right: 10px;
  font-size: 34px;
}

#item > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-add-remove-btns {
  width: 30px;
  height: 30px;
}

#form-item-list {
  display: grid;
}

#checklist {
  padding: 10px;
}

#checklist > li {
  display: flex;
  align-items: center;
}

#checklist > li > input {
  margin-right: 10px;
}

#checklist-elem-divider {
  display: flex;
  align-items: center;
}

#checklist-elem-divider > h2,
.editDiv > h2 {
  margin-right: 15px;
}

#checklistDiv > ul {
  margin-top: 0;
}

#checklist > li > input[type="text"] {
  width: 200px;
  margin-bottom: 5px;
  border-color: rgb(217, 217, 238);
}

input,
textarea {
  border-radius: 3px;
}

textarea {
  resize: none;
  width: 300px;
  height: 40px;
}

.editDiv {
  display: flex;
  align-items: center;
}

#form-elem-divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 215px;
}

#form-elem-divider > label {
  font-size: 34px;
  margin-right: 10px;
}
