body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 100px 1fr 25px;
  grid-template-areas: "header header" "nav content" "footer footer";
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

#header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: red solid 1px;
  grid-area: header;
  background-color: rgb(231, 188, 188);
}

#nav {
  border: blue solid 1px;
  grid-area: nav;
  background-color: rgb(217, 217, 238);
}

#content {
  border: orange solid 1px;
  grid-area: content;
  background-color: rgb(236, 225, 204);
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer;
  background-color: rgb(128, 125, 125);
}

.form {
  position: absolute;
  height: 500px;
  width: 500px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  left: 35%;
  pointer-events: none;
  border-radius: 20px;
  background-color: rgb(233, 240, 250);
  box-shadow: 3px 3px 10px rgb(204, 196, 196);
}

.form-toggle {
  opacity: 1;
  transition: 1s;
  pointer-events: all;
}

.display {
  border: rgb(113, 113, 221) solid;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(204, 196, 196);
  width: 300px;
  height: 300px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.cover {
  border: rgb(113, 113, 221) solid;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(204, 196, 196);
  width: 300px;
  height: 300px;
  margin-right: 50px;
  margin-bottom: 50px;
}

#cover-low {
  background-color: rgb(202, 255, 202);
}

#cover-med {
  background-color: rgb(250, 250, 189);
}

#cover-high {
  background-color: rgb(252, 143, 143);
}

#listItems {
  border: solid 1px;
  padding: 0;
  margin: 0;
}
